body{
  font-family: Poppins!important;
}
html{
  scroll-behavior: smooth;
}

/* NAVIGATION BAR */

nav li:hover, .button:hover{
  transform: scale(1.2);
  transition: 0.2s;
}

.navi {
  box-shadow: 0 0 22px rgba(0, 0, 0, 70%);
  z-index: 999;
  background-color: #ebd2bd;
}


/* ẢNH NỀN TRANG CHỦ */

.home{
  background-image: url(browngrid.jpg);
  background-size: 65%;
  font-family: 'Amatic SC', cursive;
}

.title{
  padding-top: 5rem;
}

.button{
  background-color: wheat;
  width: 25%;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
}

.card1:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

/* .button-container:hover {
  transform: scale(1.1);
  transition: 0.2s;
} */


.footer-icon{
  position: absolute;
  bottom: 0px;
  right: 20px;
}

/* WHY US */

.container1 {
  position: relative;
}

.anchor {
  position: absolute;
  top: -100px;
  left: 0px;
}

.about{
  text-align: center;
  padding-top: 3rem;
  width: 70vw;
}
.content{
  max-width: 100%;
  height: auto;
  padding: 0px 30px 20px 30px;
}
.about img{
  max-width: 50%;
  height: auto;
}


.card, .carousel-item{
  position: unset!important;
}

.card1{
  background-color: #D6A67F;
  border-radius: 10% ;
}

.container {
  position: relative;
  width: 50%;
}

/* CAROUSEL */

.noidung{
  width: 55%;
}

.button1{
  background-color: #f4e6d9;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  margin-top: 1rem;
  transition: .2s ease-in-out 0s;
}
.button1:hover{
  transform: scale(1.25);
  }

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}
.gradient{
  height: 50px;
  background: rgb(244,230,217);
  background: linear-gradient(180deg, rgba(244,230,217,1) 0%, rgba(207,150,105,1) 100%);
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.contact-form input{
  padding: 10px;
    display: block;
    margin-bottom: 8px;
}

.input-box input{
  width: 49%;
}

.container-demo {
  position: relative!important;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}













/* @media screen and (max-width: 900px) and (min-width: 600px) {
    div.example {
      font-size: 50px;
      padding: 50px;
      border: 8px solid black;
      background: yellow;
    }
  } */

/* @media (min-width: 576px ) {
    .container, .container-sm {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container, .container-sm, .container-md {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1140px;
    }
  } */

/* @media (max-width: 575.98px) {
    .table-responsive-sm {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .table-responsive-sm > .table-bordered {
      border: 0;
    }
  }
  
  @media (max-width: 767.98px) {
    .table-responsive-md {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .table-responsive-md > .table-bordered {
      border: 0;
    }
  }
  
  @media (max-width: 991.98px) {
    .table-responsive-lg {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .table-responsive-lg > .table-bordered {
      border: 0;
    }
  }
  
  @media (max-width: 1199.98px) {
    .table-responsive-xl {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .table-responsive-xl > .table-bordered {
      border: 0;
    }
  }
   */